--extra-index-url https://download.pytorch.org/whl/cu118

jupyter
notebook
matplotlib
numpy
torch
docker
scikit-learn
seaborn
tqdm
einops
torchdiffeq 
git+https://github.com/openai/CLIP.git@main#egg=clip
timm
openmim
gdown